<form action="/" method="post">
    <input type="text" id="postHeading" name="postHeading" placeholder="Heading">
    <br>
    <textarea name="postContent" id="postContent" placeholder="Content"></textarea>
    <br>
    <input type="submit" value="Create Post" id="createPostButton">


    <% postCreated = true %>
</form>